.vueApp {
    margin: auto;
    width: 60%;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

.submit {
    padding: 8px 20px;
    background-color: #2A5E90;
    color: #fff;
    /* fixes submit input not displaying correctly on mobile */
    -webkit-appearance: none;
    border-radius: 0;
}

.submit:hover {
    background-color: #255481;
}

.tasks {
    width: 80%;
    margin: auto;
}

ul {
    padding-left: 20px;
}
  
li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    list-style-type: none;
}

.checkbox {
    color: #00b894;
}

.tasks span {
    width: 90%;
}

.completedItem {
    color: #00b894;
    text-decoration: line-through;
}

.completedCheckbox {
    background: #00b894;
    color: #fff;
}

.remove {
    font-size: .5em;
}