<!-- cashbrook, vue.js ToDo app, 7.6.2020
requirements:
  - add/delete items
  - toggle completed items
  - persistent storage
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Vue Todo</title>
</head>

<body>
    <div id="vueApp" class="vueApp">
        <h1>{{ title }}</h1>

        <form @submit.prevent="addItem" action="#">
            <label for="task">Enter your todo: </label>
            <!-- input for new item -->
            <input type="text" id="task" name="task" v-model="newItem">
            <p>You're about to add... {{ newItem }}</p>
            <!-- submit button for form -->
            <input type="submit" value="Add Item" class="submit">
        </form>

        <div class="tasks">
            <h3>Tasks:</h3>
            <ul>
                <li v-for="list in lists" :key="list.id">
                    <span :class="{completedItem: list.isCompleted}">{{ list.item }}</span>
                    <button class="checkbox" :class="{completedCheckbox: list.isCompleted}" @click="toggleComplete(list.id)">✔</button>
                    <button class="remove" @click="removeItem(list.id)">❌</button>
                </li>
            </ul>
        </div>
    </div>

    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
